<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        @for (item of [
          { titulo: 'Explora mi marca de ropa', link: 'https://www.valued.com.ar' },
        ]; track item.titulo) {
          <a
            class="pill"
            [href]="item.link"
            target="_blank"
            rel="noopener"
          >
            <span>{{ item.titulo }}</span>
          </a>
        }
      </div>
    </div>
  </div>
</main>
<router-outlet />
